body {
    background-color: black;
}

#video {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100%;
}

#ghost {
    display: block;
}

section {
    z-index: 1;
    position: relative;
}

.custom {
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.heading-1 {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 10%;
    width: 100%;
    text-align: center;
    font-family: 'lato bold', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 7.5vw;
    color: white;
    font-weight: bolder;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
    display: inline-block;
    margin: 0;
    padding: 0;
}

.heading-1 p {
    font-family: 'Lato extrabold', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 66.6%;
    width: 100%;
    text-align: center;
    font-size: 7.5vw;
    color: white;
    font-family: 'lato extrabold', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
    display: inline-block;
    margin: 0;
    padding: 0;
}